*{margin:0px; padding: 0px; border:0px;}

.btn-primary{
	background-color: #92D050;
	border-color: #92D050;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    background-color: #9BDD55;
	border-color: #9BDD55;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background-color: #9BDD55;
	border-color: #9BDD55;
}

.btn-primary:active, .btn-primary.active {
    background-color: #9BDD55;
	border-color: #9BDD55;
}

.col-md-6{
	padding-left: 5%;
	padding-right: 0px;
}

.col-md-12{
	padding-left: 5%;
}

h1{
	color: #83847c;
}

.home{
	margin-top: 50px;
}

.home h1{
	margin-top: 30px;
}

.endereco{
	margin-top: 40px;
}

footer{
	height: 70px;
	background-color: rgb(52, 82, 54);
	margin-top: 70px;
	padding-top: 1%; 
}

footer.clear{
	clear: both;
}

footer p{
	color: #fff;
	text-align: center;
	line-height: 1;
}

.form-group{
	padding-right: 5%;
}

.galeria{
	padding-left: 0px;
}

.imagem-responsiva{
	width: 100%;
}

.imagem-galeria{
	width: 85%;
	margin-bottom: 4%;
}

.logo{
	width: 120px;
	position: absolute;
	top:6px;
}

#map {
	height: 400px;
}

.menu{
	position: fixed;
	width: 100%;
	z-index: 1;
}

.navbar{
	background-color: #92D050;
	margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a{
	font-size: 1.3em;
	color: #fff;
}

.navbar-default .navbar-toggle{
    border-color: #fff;
}

.navbar-default .navbar-toggle:hover{
    background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar{
  background-color: #000;
}

p{
	font-size: 18px;
	text-align: justify;
	margin-right: 2%;
}

.texto-galeria{
	margin-left: 2%;
	margin-bottom: 30px;
}

.texto-fale-conosco{
	padding-left: 5%;
}

/*****Media queries*****/

@media only screen and (max-width : 992px) {
	
	footer{
		padding-top: 3%; 
	}

	p{
		font-size: 14px;
	}
}